<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <link href="../static/css/font-awesome.css" th:href="@{/static/css/font-awesome.css}" rel="stylesheet">
    <link href="../static/css/custom1.css" th:href="@{/static/css/custom1.css}" rel="stylesheet" />

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js" ></script>
    <script src="../static/js/bootstrap.min.js"></script>

</head>

<body>
    <div th:fragment="form">
        <form action="/" method="post">
            <div class="column-container">
                <div class="row-container">
                    <fieldset class="form-group">
                        <legend>Trade data</legend>
                        <div class="row-container">
                            <textarea id="ids" placeholder="Ids comma separated" class="form-control" style="height: 3em; width: 22em; margin-right: 10px;"></textarea>
                            <textarea id="symbols" placeholder="Symbols comma separated" class="form-control" style="height: 3em; width: 22em; margin-right: 10px;"></textarea>
                            <textarea id="accounts" placeholder="Accounts comma separated" class="form-control" style="height: 3em; width: 22em; margin-right: 10px;"></textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend>Amount range</legend>
                        <div class="row-container">
                            <select id="route" class="form-control" style="width: 8em; margin-left: 10px; margin-right: 10px;">
                                <option value="" style="color: #999999;">Route...</option>
                                <option value="BUY">BUY</option>
                                <option value="SELL">SELL</option>
                            </select>
                            <input id="amountGreater" placeholder="Min" type="number" name="leftMerge" step="0.01"  min="0" class="form-control" onchange="document.getElementById('amountLess').min=this.value;" style="width: 7em"/>
                            <input id="amountLess" placeholder="Max" type="number" name="middleMerge" step="0.01" class="form-control" onchange="if (document.getElementById('amountGreater').value > 0) {this.min=document.getElementById('amountGreater').value} else {this.min=0}" style="width: 7em"/>
                            <select id="currency" name="rightMerge" class="form-control" style="width: 6em">
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                                <option value="RUB">RUB</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
                <div class="row-container">
                    <fieldset class="form-group">
                        <legend>Date range</legend>
                        <div class="row-container">
                            <input id="dateAfter" placeholder="Min" name="leftMerge" type="text" class="form-control" onchange="document.getElementById('dateBefore').min=this.value;" onfocus="(this.type='date')" onblur="if (this.value == '') {this.type='text'};" style="width: 10em"/>
                            <input id="dateBefore" placeholder="Max" name="rightMerge" type="text" class="form-control" onchange="this.min=document.getElementById('dateAfter').value;" onfocus="(this.type='date')" onblur="if (this.value == '') {this.type='text'};" style="width: 10em; margin-right: 10px;"/>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend>Customer </legend>
                        <div class="row-container">
                            <input id="iban" type="text" placeholder="Iban" class="form-control" size="15" style="width: 20em; margin-right: 10px;"/>
                            <input id="firstName" type="text" placeholder="First Name" name="leftMerge" class="form-control" size="15" style="width: 15em;"/>
                            <select id="signFirstName" name="rightMerge" class="form-control" style="width: 4em; margin-right: 10px;">
                                <option value="=">=</option>
                                <option value="%">%</option>
                            </select>
                            <input id="lastName" type="text" placeholder="Last Name" name="leftMerge" class="form-control" size="15" style="width: 15em;"/>
                            <select id="signLastName" name="rightMerge" class="form-control" style="width: 4em; margin-right: 10px;">
                                <option value="=">=</option>
                                <option value="%">%</option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <legend>Order </legend>
                        <div class="row-container">
                            <select id="order" class="form-control" style="width: 8em; margin-right: 10px;">
                                <option value="DATE">DATE</option>
                                <option value="SYMBOL">SYMBOL</option>
                                <option value="AMOUNT">AMOUNT</option>
                            </select>
                            <input type="submit" value="submit" class="btn btn-default" style="width: 7em;"/>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</body>
</html>