<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
    <div th:fragment="form">
        <form action="/" method="post">
            <textarea id="ids" rows="1"></textarea>
            <textarea id="symbols" rows="1"></textarea>
            <textarea id="accounts" rows="1"></textarea>
            <input id="route" type="text" value="" size="15"/>
            <fieldset>
                <legend>Amount range</legend>
                <label for="amountGreater">Min</label>
                <input id="amountGreater" type="number" step="0.01" value="" size="7" min="0" onchange="document.getElementById('amountLess').min=this.value;"/>
                <label for="amountLess">Max</label>
                <input id="amountLess" type="number" step="0.01" value="" size="7" min="document.getElementById('amountGreater').value"/>
                <label for="currency">Currency</label>
                <input id="currency" type="text" value="" size="3"/>
            </fieldset>
            <fieldset>
                <legend>Date range</legend>
                <label for="dateAfter">Min</label>
                <input id="dateAfter" type="datetime-local" value="" size="15"/>
                <label for="dateBefore">Max</label>
                <input id="dateBefore" type="date" value="" size="15"/>
            </fieldset>
            <input id="iban" type="text" value="" size="15"/>
            <input id="firstName" type="text" value="" size="15"/>
            <input id="lastName" type="text" value="" size="15"/>
            <input id="order" type="text" value="" size="15"/>
            <input type="submit" value="submit"/>
        </form>
    </div>
</body>
</html>