<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet" />
    <link href="../static/css/fontelloembedded.css" rel="stylesheet" />
    <link href="../static/css/simplebar.css" rel="stylesheet" />
    <link href="../static/css/ol.css"  rel="stylesheet" >


    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js" ></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/simplebar.js"></script>
    <script src="../static/js/AddressMap.js"></script>
    <script src="../static/js/OpenLayers.js"></script>
    <script src="../static/js/OpenStreetMap.js"></script>
    <script src="../static/js/ol.js"></script>

</head>

<body>
<div id="wrapper" class="toggled">

     <!--Sidebar-->
    <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
    <li class="sidebar-brand">
    <a href="#" onclick="$('#wrapper').toggleClass('toggled')">
    Start Bootstrap <<
    </a>
    </li>
    <li>
    <a href="#">Dashboard</a>
    </li>
    <li>
    <a href="#" onclick="getHome('accounthome/')">Accounts</a>
    </li>
    <li>
    <a href="#" onclick="getHome('tradehome/')">Trades</a>
    </li>
    <li>
    <a href="#">Events</a>
    </li>
    <li>
    <a href="#">About</a>
    </li>
    <li>
    <a href="#">Services</a>
    </li>
    <li>
    <a href="#">Contact</a>
    </li>
    </ul>
    </div>


    <div id="page-content-wrapper" style="padding: 0px">
        <div class="container-fluid" style="padding: 0px; padding-right: 1px;">
            <div style="padding-left: 20px; padding-top: 15px;" >
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
                <a href="#collapseOne" class="btn btn-default" for="collapseOne" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">Form</a>
                <a href="#collapseTwo" class="btn btn-default" for="collapseTwo" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">Data</a>
                <a href="#" class="btn btn-default" onclick="showModal()">Modal</a>
            </div>
            <div id="homeBlock">
                <div th:fragment="home(file, fragment)">
                    <div th:replace="${file} :: ${fragment}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="detailsTableBlock"></div>
<div id="mapBlock"></div>
<div id="detailsBlock"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="btn btn-default btn-close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 10px;">&times;</a>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--    window.addEventListener('error', function(e) {-->
<!--        console.log("io ho ho ho");-->
<!--    }, true);-->
<!--</script>-->


<script>
    window.onerror = function (msg, url, lineNo, columnNo, error) {
        window.event.preventDefault();
        $('#exampleModal').modal('show');
    }
</script>

<script>
    function showModal() {
        window.event.preventDefault();
        $('#exampleModal').modal('show');
    }
</script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<script>
    function submitForm(e, formId, targetId) {
        var form = document.getElementById(formId);
        var table = document.getElementById(targetId);
        e.preventDefault();
        $.ajax({
                data: $(form).serialize(),
                type: $(form).attr('method'),
                url: $(form).attr('action'),
                success: function(response) {
                    <!--console.log("response", response);-->
                    $(table).replaceWith(response);
                    }
                });
    }
</script>

<script>
    var existingDetailsTableId = null;

    function getAccountTrades(accountId) {
        window.event.preventDefault();
        var divId = 'accountTrades' + accountId;
        var url = '/tradesearch';
        var data = new FormData();
        data.append('accounts', accountId);
        data.append('order', 'DATE');
        data.append('itemsSize', '5');
        data.append('tableId', 'tradedatateble' + accountId);
        fetch(url, {
            method: "POST",
            body: data,
        }).then(
            function(response) {
                // console.log(response);
                // console.log('=============================================================================================');
                // console.log(response.text());
                return response.text();
            }
        ).then(
            function(text) {
                var detailsTableBlock = document.getElementById('detailsTableBlock');
                $(detailsTableBlock).append("<div id=\"" + divId + "\"><\/div>");
                var target = document.getElementById(divId);
                $(target).append("<a href='#' class='btn btn-default btn-close' onclick=\"removeDetailsTable('" + divId + "')\" style='position: absolute; right: 20px; z-index: 1000;'>&times;</a>")
                $(target).append(text);
                existingDetailsTableId = divId;
            }
        ).catch(function(error) {
            $('#exampleModal').modal('show')
        });
    }
</script>

<script>
    function getHome(urlParam) {
        window.event.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#homeBlock").load(urlParam);
    }
</script>

<script>
    function getTable(tableId, urlParam, pageNum, size) {
        window.event.preventDefault();
        var url = urlParam + '&page=' + pageNum + '&size=' + size;
        console.log("url", url);
        var table = document.getElementById(tableId);
        $(table).load(url);
    }
</script>

<script>
    function getDetails(urlParam, detailId) {
        window.event.preventDefault();
        var url = urlParam + '/?detailId=' + detailId;
        var divId = "#" + detailId;
        console.log("divId", divId);

        var divElem = document.getElementById(detailId);
        if (divElem === null){
            $('#detailsBlock').append("<div id=\"" + detailId + "\"><\/div>");
            console.log("url", url);
            $(divId).load(url);
        }
    }
</script>

<script>
    function removeDetails(detailId) {
        window.event.preventDefault();
        var divId = "#" + detailId;
        $(divId).fadeOut("normal", function() {
            $(this).remove();
        });
    }
</script>

<script>
    function removeDetailsTable(tableId) {
        var divId = "#" + tableId;
        var first = $(divId).firstElementChild;
        while (first) {
            first.remove();
            first = e.firstElementChild;
        }
        $(divId).remove();
        existingDetailsTableId = null
    }
</script>

</body>
</html>