<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet" />
    <link href="../static/css/fontelloembedded.css" rel="stylesheet" />
    <link href="../static/css/simplebar.css" rel="stylesheet" />
    <link href="../static/css/ol.css"  rel="stylesheet" >
    <link href="../static/css/auto-complete.css"  rel="stylesheet" >


    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js" ></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/simplebar.js"></script>
    <script src="../static/js/AddressMap.js"></script>
    <script src="../static/js/OpenLayers.js"></script>
    <script src="../static/js/OpenStreetMap.js"></script>
    <script src="../static/js/ol.js"></script>
    <script src="../static/js/auto-complete.js"></script>

</head>

<body>
<div id="wrapper" class="toggled">

     <!--Sidebar-->
    <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
    <li class="sidebar-brand">
    <a href="#" onclick="$('#wrapper').toggleClass('toggled')">
    Start Bootstrap<i class="fas fa-chevron-left"></i>
    </a>
    </li>
    <li>
    <a href="#">Dashboard</a>
    </li>
    <li>
    <a href="#" onclick="getHome('accounthome/')">Accounts</a>
    </li>
    <li>
    <a href="#" onclick="getHome('tradehome/')">Trades</a>
    </li>
    <li>
    <a href="#">Events</a>
    </li>
    <li>
    <a href="#">About</a>
    </li>
    <li>
    <a href="#">Services</a>
    </li>
    <li>
    <a href="#">Contact</a>
    </li>
    </ul>
    </div>


    <div id="page-content-wrapper" style="padding: 0px">
        <div class="container-fluid" style="padding: 0px; padding-right: 1px;">
            <div style="padding-left: 20px; padding-top: 15px;" >
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
                <a href="#collapseOne" class="btn btn-default" for="collapseOne" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">Form</a>
                <a href="#collapseTwo" class="btn btn-default" for="collapseTwo" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">Data</a>
            </div>
            <div id="homeBlock">
                <div th:fragment="home(file, fragment)">
                    <div th:replace="${file} :: ${fragment}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="detailsTableBlock"></div>
<div id="mapBlock"></div>
<div id="detailsBlock"></div>

<div th:replace="modal :: modal"></div>

<div class="md-form">
    <input type="search" id="symbolAutocomplete" class="form-control" onclick="createAutoComplete('getallsymbols', 'symbolAutocomplete', allSymbolsObj)">
</div>

<script>

    var allSymbolsObj = {
        allSymbolsData,

        getData : function () {
            return this.allSymbolsData;
        },

        setData : function (data) {
            this.allSymbolsData = data;
        }
    }

    function createAutoComplete(url, targetId, dataObj) {
        window.event.preventDefault();
        if (dataObj.getData() === null) {
            var onResponse = function (response) {
                dataObj.setData(response);
            }

            doFetch(url, "GET", null, onResponse);

            new autoComplete({
                selector: 'input[id="' + targetId +'"]',
                minChars: 2,
                source: function (term, suggest) {
                    term = term.toLowerCase();
                    var choices = dataObj.getData();
                    var matches = [];
                    for (i = 0; i < choices.length; i++)
                        if (~choices[i].indexOf(term.toUpperCase())) matches.push(choices[i]);
                    suggest(matches);
                }
            });
        }
    }
</script>

<script>
    function showModal(label, body, options) {
        $('#modalWindow').data('bs.modal', null); //clear previous data if any.
        $('#modalWindowLabel').html(label);
        $('#modalWindowBody').html('');
        $('#modalWindowBody').append("<div id='modalWindowBodyScroll' style='width: 400px; max-height: 500px; padding-right: 17px'><\/div>");
        $('#modalWindowBodyScroll').html(body);
        new SimpleBar(document.getElementById('modalWindowBodyScroll'));
        if(options !== undefined && options.dataBackdrop !== undefined){
            $('#modalWindow').modal({backdrop: options.dataBackdrop});
        } else {
            $('#modalWindow').modal({backdrop: 'static'});
        }
        $('#modalWindow').modal('show');
    }
</script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<script>
    function submitForm(e, formId, targetId) {
        var form = document.getElementById(formId);
        var table = document.getElementById(targetId);
        e.preventDefault();

        if (form.reportValidity()) { //proceed only if form is valid.
            var onResponse = function(response) {
                $(table).replaceWith(response);
            }
            doFetch($(form).attr('action'), $(form).attr('method'), buildData($(form).get(0)), onResponse);
        }
    }
</script>

<script>
    var existingDetailsTableId = null;

    function getAccountTrades(accountId) {
        window.event.preventDefault();
        var divId = 'accountTrades' + accountId;
        var url = '/tradesearch';
        var data = new FormData();
        data.append('accounts', accountId);
        data.append('order', 'DATE');
        data.append('itemsSize', '5');
        data.append('tableId', 'tradedatateble' + accountId);

        var divElem = document.getElementById(divId);
        if (divElem === null) {

            var onResponse = function (text) {
                removeDetailsTable(existingDetailsTableId);
                var detailsTableBlock = document.getElementById('detailsTableBlock');
                $(detailsTableBlock).append("<div id=\"" + divId + "\"><\/div>");
                var target = document.getElementById(divId);
                $(target).append("<a href='#' class='btn btn-default btn-close' onclick=\"removeDetailsTable('" + divId + "')\" style='position: absolute; right: 20px; z-index: 1000;'>&times;</a>");
                $(target).append(text);
                existingDetailsTableId = divId;
            }

            doFetch(url, "POST", data, onResponse);
        }
    }
</script>

<script>
    function getHome(urlParam) {
        window.event.preventDefault();
        $("#wrapper").toggleClass("toggled");

        var onResponse = function (response) {
            $("#homeBlock").html(response);
        }

        doFetch(urlParam, "GET", null, onResponse);
    }
</script>

<script>
    function getTable(tableId, urlParam, pageNum, size) {
        window.event.preventDefault();
        var url = urlParam + '&page=' + pageNum + '&size=' + size;

        var onResponse = function (response) {
            var target = document.getElementById(tableId);
            $(target).html(response);
        }

        doFetch(url, "GET", null, onResponse);
    }
</script>

<script>
    function getDetails(urlParam, detailId) {
        window.event.preventDefault();
        var url = urlParam + '/?detailId=' + detailId;
        var divElem = document.getElementById(detailId);

        if (divElem === null) {
            var onResponse = function (response) {
                $('#detailsBlock').append("<div id=\"" + detailId + "\"><\/div>");
                var target = document.getElementById(detailId);
                $(target).html(response);
            }

            doFetch(url, "GET", null, onResponse);
        }
    }
</script>

<script>
    function removeDetails(detailId) {
        window.event.preventDefault();
        var divId = "#" + detailId;
        $(divId).fadeOut("normal", function() {
            $(this).remove();
        });
    }
</script>

<script>
    function removeDetailsTable(tableId) {
        var divId = "#" + tableId;
        var first = $(divId).firstElementChild;
        while (first) {
            first.remove();
            first = e.firstElementChild;
        }
        $(divId).remove();
        existingDetailsTableId = null
    }
</script>

<script>
    function doFetch(url, method, data, onResponse, extraDetails) {
        var responseStatus;
        var responseStatusText;
        window.event.preventDefault();
        fetch(url, {
            method: method,
            body: data,
        }).then(
            function(response){
                return doCall(response, {url: url, method: method, data: data});
            }
        ).then(
            function(responseBody) {
                return doResponse(responseBody, onResponse, extraDetails);
            }
        ).catch(function(error) {
            showModal("Error", "<p>" + error.stack + "</p>" + "<p>" + error.message + "</p>");
        });
    }

    function buildData(formElement) {
        const data = new URLSearchParams();
        for (const pair of new FormData(formElement)) {
            data.append(pair[0], pair[1]);
        }
        return data;
    }

    function doCall(response, request) {
        responseStatus = response.status;
        responseStatusText = response.statusText;
        if(response.ok) {
            return response.text();
        } else {
            return response.text() // return the result of the inner promise, which is an error
                .then((text) => {
                    var errorDesc = "<p> URL: " + request.url + "<br> METHOD: " + request.method + "<br> DATA: " + request.data + "</p>"
                        + "<p>RESPONSE STATUS: " + responseStatus + " " + responseStatusText + "</p>"
                        + "<p>RESPONSE BODY: " + text + "</p>";
                    throw new Error(errorDesc);
                });
        }
    }

    function doResponse(text, onResponse, extraDetails) {
        if (extraDetails === undefined) {
            onResponse(text);
        } else {
            onResponse(text, extraDetails);
        }
    }
</script>

</body>
</html>