<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
<div th:fragment="modal">
    <div class="modal fade" id="modalWindow" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="modalWindowLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="btn btn-default btn-close" data-dismiss="modal" aria-label="Close"  style="position: absolute; right: 10px;">&times;</a>
                <div class="modal-header">
                    <h5 id="modalWindowLabel" class="modal-title" >Modal title</h5>
                </div>
                <div id="modalWindowBody" class="modal-body">
                    Modal body
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="copyModalWindowBodyToClipboard();">Save changes</button>
                    <script>
                        function copyModalWindowBodyToClipboard() {
                            var range = document.createRange();
                            range.selectNode(document.getElementById('modalWindowBody'));
                            window.getSelection().removeAllRanges();
                            window.getSelection().addRange(range);
                            document.execCommand("copy");
                            window.getSelection().removeAllRanges();
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showModal(label, body, options) {
            $('#modalWindow').data('bs.modal', null); //clear previous data if any.
            $('#modalWindowLabel').html(label);
            $('#modalWindowBody').empty();
            $('#modalWindowBody').append("<div id='modalWindowBodyScroll' style='width: 400px; max-height: 500px; padding-right: 17px'><\/div>");
            $('#modalWindowBodyScroll').html(body);
            new SimpleBar(document.getElementById('modalWindowBodyScroll'));
            if(options !== undefined && options.dataBackdrop !== undefined){
                $('#modalWindow').modal({backdrop: options.dataBackdrop});
            } else {
                $('#modalWindow').modal({backdrop: 'static'});
            }
            $('#modalWindow').modal('show');
        }
    </script>
</div>
</body>
</html>