<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
<div th:fragment="transactiondetails (${transaction})">
    <div th:if='${transaction != null}'>
        <div class="grid-container">
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>73251875257</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>    <table class="key-value-table">
                <tbody>
                <tr>
                    <th>ID:</th>
                    <td>73251875257</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>123 Fake St. Albany NY, 12202</td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td>John Doe</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>123 Fake St. Albany NY, 12202</td>
                </tr>
                </tbody>
            </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>73251875257</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>73251875257</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>73251875257</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>    <table class="key-value-table">
                <tbody>
                <tr>
                    <th>ID:</th>
                    <td>73251875257</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>123 Fake St. Albany NY, 12202</td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td>John Doe</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>123 Fake St. Albany NY, 12202</td>
                </tr>
                </tbody>
            </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>73251875257</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>73251875257</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>123 Fake St. Albany NY, 12202</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>