<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
<div th:fragment="transactiondetails (${transaction})">
    <hr>
    <div th:if='${transaction != null}'>
        <button type="button" class="close" aria-label="Close" th:onclick="removeDetails([[${transaction.TradeData.Id}]])">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="grid-container">
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td th:text="${transaction.Id}"></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td th:text="${transaction.Email}"></td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td th:text="${transaction.FirstName}"></td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                        <td th:text="${transaction.LastName}"></td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td th:text="${transaction.Address}"></td>
                    </tr>
                    <tr>
                        <th>Group:</th>
                        <td th:text="${transaction.GroupName}"></td>
                    </tr>
                    <tr>
                    <th>Company:</th>
                        <td th:text="${transaction.Company}"></td>
                    </tr>
                    <tr>
                        <th>Domain:</th>
                        <td th:text="${transaction.Domain}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>Site:</th>
                        <td th:text="${transaction.Site}"></td>
                    </tr>
                    <tr>
                        <th>System Use:</th>
                        <td th:text="${transaction.SystemUse}"></td>
                    </tr>
                    <tr>
                        <th>Class:</th>
                        <td th:text="${transaction.Clazz}"></td>
                    </tr>
                    <tr>
                        <th>Rate:</th>
                        <td th:text="${transaction.Rate}"></td>
                    </tr>
                    <tr>
                        <th>Education:</th>
                        <td th:text="${transaction.Education}"></td>
                    </tr>
                    <tr>
                        <th>Title:</th>
                        <td th:text="${transaction.Title}"></td>
                    </tr>
                    <tr>
                        <th>Qulifications:</th>
                        <td th:text="${transaction.Qualifications}"></td>
                    </tr>
                    <tr>
                        <th>Absolute:</th>
                        <td th:text="${transaction.Absolute}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>Citezenship:</th>
                        <td th:text="${transaction.Citizenship}"></td>
                    </tr>
                    <tr>
                        <th>Reference:</th>

                        <td th:text="${#numbers.formatDecimal(transaction.Reference, 1, 8)}"></td>
                    </tr>
                    <tr>
                        <th>Report Id:</th>
                        <td th:text="${transaction.ReportId}"></td>
                    </tr>
                    <tr>
                        <th>Cash:</th>
                        <td th:text="${transaction.Cash}"></td>
                    </tr>
                    <tr>
                        <th>Currency:</th>
                        <td th:text="${transaction.Currency}"></td>
                    </tr>
                    <tr>
                        <th>IBAN:</th>
                        <td th:text="${transaction.Iban}"></td>
                    </tr>
                    <tr>
                        <th>BIC</th>
                        <td th:text="${transaction.Bic}"></td>
                    </tr>
                    <tr>
                        <th>Bank Name:</th>
                        <td th:text="${transaction.BankName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>Sex:</th>
                        <td th:text="${transaction.Sex}"></td>
                    </tr>
                    <tr>
                        <th>MIX:</th>
                        <td th:text="${transaction.Mix}"></td>
                    </tr>
                    <tr>
                        <th>Details:</th>
                        <td th:text="${transaction.Details}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>