<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
<div th:fragment="accountdetails (${accountdata})">
    <hr>
    <div th:if='${accountdata != null}'>
        <a href="#" class="btn btn-default btn-close" th:onclick="removeDetails([[${accountdata.accountId}]])">&times;</a>
        <div class="grid-container" style="z-index: -1; display: grid; grid-template-columns: 350px 1fr 1fr 700px; grid-template-rows: 1fr;">
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td th:text="${accountdata.accountId}"></td>
                    </tr>
                    <tr>
                        <th>First Name:</th>
                        <td th:text="${accountdata.firstName}"></td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                        <td th:text="${accountdata.lastName}"></td>
                    </tr>
                    <tr>
                        <th>Creation:</th>
                        <td th:text="${accountdata.creationDate}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>Gender:</th>
                        <td th:text="${accountdata.gender}"></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td th:text="${accountdata.email}"></td>
                    </tr>
                    <tr>
                        <th>Organization:</th>
                        <td th:text="${accountdata.organization}"></td>
                    </tr>
                    <tr>
                        <th>Vat Number:</th>
                        <td>
                            <div class="details-link">
                                <a href="#" class="hover hover-1" th:text="${accountdata.vatNumber}" th:onclick="doFetch('accountvat/?vatNumber=[[${accountdata.vatNumber}]]', 'GET', null, function(response) {showModal([[${accountdata.vatNumber}]], response, {dataBackdrop: 'true'});});">
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody>
                    <tr>
                        <th>Limitations:</th>
                        <td th:text="${accountdata.limitations}"></td>
                    </tr>
                    <tr>
                        <th>ACH:</th>
                        <td th:text="${accountdata.verifiedforACH}"></td>
                    </tr>
                    <tr>
                        <th>Payments:</th>
                        <td th:text="${accountdata.payments}"></td>
                    </tr>
                    <tr>
                        <th>Limit:</th>
                        <td th:text="${accountdata.maximumLimit}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="key-value-table">
                    <tbody th:with="addresses = ${accountdata.addresses}">
                        <tr>
                            <th>Phone:</th>
                            <td th:text="${accountdata.phone}"></td>
                        </tr>
                        <tr th:each="address : ${addresses}">
                            <th th:text="'Address ' + ${address.addressId} + ':'"></th>
                            <td th:text="${address.street} + ' ' + ${address.city} + ' ' + ${address.state} + ' ' + ${address.postalCode}" ></td>
                            <td>
                                <a href="#" class="btn btn-default" th:onclick="new AddressMap([[${address.addressId}]], [[${accountdata.firstName} + ' ' + ${accountdata.lastName}]], [[${address.latitude}]], [[${address.longitude}]]);" style="margin: 0; padding: 0;">
                                    <i class="fas fa-map-marker-alt" ></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>