<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
<div th:id="${page.tableId}" th:fragment="accountdatatable (dataPage, page)">
    <table  class="table table-striped table-bordered table-sm table-dark" cellspacing="0" width="100%" style="min-width: 1400px" >
        <thead>
        <tr>

            <th><h1>Id</h1></th>
            <th><h1>Name</h1></th>
            <th><h1>Email</h1></th>
            <th><h1>Phone</h1></th>
            <th><h1>Registration</h1></th>
            <th><h1>Trades</h1></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${dataPage}">
            <td>
                <div class="details-link">
                    <a href="#" class="hover hover-1" th:text="${data.accountId}" th:onclick="getDetails('accountdetails', [[${data.accountId}]])"/>
                </div>
            </td>
            <td th:text="${data.firstName} + ' ' + ${data.lastName}"></td>
            <td th:text="${data.email}"></td>
            <td th:text="${data.phone}"></td>
            <td th:text="${data.creationDate}"></td>
            <td>
                <div class="details-link">
                    <a href="#" class="hover hover-1" th:text="'SEE TRADES'" th:onclick="getAccountTrades([[${data.accountId}]], [[${_csrf.parameterName}]], [[${_csrf.token}]])"/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="paginationbar :: paginationbar (${page})"></div>
</div>
</body>
</html>