<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
<div th:fragment="accountperfomance">
    <div id="accountPerfomanceBody"></div>
            <script>
                function createChartObj() {
                    var chartObj = {};
                    chartObj.margin = { top: 50, right: 70, bottom: 30, left: 50 };
                    chartObj.chart = d3.select('#accountPerfomanceGraph');
                    chartObj.svg = chartObj.chart.append('svg');
                    chartObj.plot = chartObj.svg.append('g').attr('transform', `translate(${chartObj.margin.left}, ${chartObj.margin.top})`);
                    chartObj.parseDate = d3.timeParse('%Y');


                    chartObj.x = d3.scaleTime();
                    chartObj.y = d3.scaleLinear();

                    chartObj.colour = d3.scaleOrdinal(d3.schemeCategory10);

                    chartObj.xAxis = d3.axisBottom().scale(chartObj.x).ticks(10);
                    chartObj.yAxis = d3.axisLeft().scale(chartObj.y).ticks(10);

                    chartObj.line = d3.line()
                        .x(d => chartObj.x(d.date))
                        .y(d => chartObj.y(d.value))
                        .curve(d3.curveMonotoneX);

                    chartObj.dataUrl = '../static/data.csv';
                    return chartObj
                }
            </script>
</div>
</body>
</html>