<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
    <div th:fragment="analyseform" style="float: right; position: relative;">
        <form id="analyseform" action="#" th:action="@{analysedomain/}" th:object="${analyseDomainRequest}" method="post">
            <fieldset class="form-group">
                <legend>Analyse domain</legend>
                <div class="row-container">
                    <select required id="domainSelector" initialized="false" th:field="*{domain}" class="form-control" onclick="populateDomains()" style="width: 8em; margin-left: 10px; margin-right: 10px;">
                        <option value="" style="color: #999999;">Domain...</option>
                    </select>
                    <select id="object" th:field="*{object}" class="form-control" style="width: 8em; margin-right: 10px;">
                        <option value="SYMBOL">SYMBOL</option>
                    </select>
                    <select id="size" th:field="*{size}" class="form-control" style="width: 5em; margin-right: 10px;">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </fieldset>
        </form>
        <div class="row-container">
            <input type="submit" value="submit" onClick="if (document.getElementById('analyseform').reportValidity()){document.getElementById('pieChartButtonVolume').disabled=false; document.getElementById('pieChartButtonValue').disabled=true;} buildDomainPerformancePieChart('analyseform');" class="btn btn-default leftMerge" style="margin-left: 10px; width: 8em;"/>
            <button id="pieChartButtonVolume" onClick="PieChart.fill(PieChart.prepareData(jsonPieData, 'volume')); this.disabled=true; document.getElementById('pieChartButtonValue').disabled=false;" disabled class="btn btn-default middleMerge" style="width: 7em;">volume</button>
            <button id="pieChartButtonValue" onClick="PieChart.fill(PieChart.prepareData(jsonPieData, 'value')); this.disabled=true; document.getElementById('pieChartButtonVolume').disabled=false;" disabled class="btn btn-default rightMerge" style=" width: 7em;">value</button>
        </div>
        <div id="pieChartDataTable" style='max-height: 400px; padding-right: 17px; overflow-x: hidden'></div>
        <script>
           function populateDomains() {
                let select = $("#domainSelector");
                if(select.attr('initialized')==="false"){
                    let onResponse = function (response) {
                        populateDomainOptions (JSON.parse(response));
                    }
                    doFetch("getalldomains", "GET", null, onResponse);
                }

                function populateDomainOptions (domainsOptions) {
                    if(select.attr('initialized')==="false"){
                        for (const el of domainsOptions) {
                            select.append($("<option/>").attr("value", el).text(el));
                        }
                        select.attr('initialized', "true")
                    }
                }
           }

           var pieChartDataTableScroll;

           function buildDomainPerformancePieChart(formId) {
               if(pieChartDataTableScroll){
                   pieChartDataTableScroll.unMount();
               }
               removeAllChildren('domainperformance');
               removeAllChildren('pieChartDataTable');
               preBuildPieChart();
               let form = document.getElementById(formId);
               tryPreventDefault();
               if (form.reportValidity()) {
                   let onResponse = function (response) {
                       jsonPieData = response;
                       let tableData = buildHtmlTable(JSON.parse(jsonPieData));
                       PieChart.fill(PieChart.prepareData(jsonPieData, 'value'));
                       $("#pieChartDataTable").html(tableData);
                       pieChartDataTableScroll = new SimpleBar(document.getElementById('pieChartDataTable'));
                   }
                   doFetch($(form).attr('action'), $(form).attr('method'), buildData($(form).get(0)), onResponse);
               }
           }

        </script>
    </div>
</body>
</html>