<analysechart xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
<div th:fragment="analysechart">
    <div id="domainperformance" style=""></div>
    <style>
        path.slice{
            stroke-width:2px;
        }

        polyline{
            opacity: .3;
            stroke: white;
            stroke-width: 2px;
            fill: none;
        }
    </style>

    <script>

        globalBodyContainer = {
            pieChartDataTableScroll : null,

            jsonPieData : null, // = '[{"label":"Loremipsum","value":12,"volume":4},{"label":"dolorsit","value":8,"volume":7},{"label":"amet","value":6,"volume":11},{"label":"consectetur","value":11,"volume":13},{"label":"adipisicing","value":22,"volume":20},{"label":"elit","value":33,"volume":8},{"label":"sed","value":17,"volume":12},{"label":"do","value":44,"volume":11},{"label":"eiusmod","value":15,"volume":17},{"label":"tempor","value":27,"volume":2}]';
            svg : null,
            width : 1300,
            height : 1000,
            radius : Math.min(1300, 1000) / 2, //depends on width/height above
            pie : null,
            arc : null,
            outerArc : null,
            key : null
        }

        function preBuildPieChart() {
            globalBodyContainer.svg = d3.select('#domainperformance')
                .append("svg")
                .style("width", "1300px")
                .style("height", "1000px")
                .style("position", "relative")
                .append("g")

            globalBodyContainer.svg.append("g")
                .attr("class", "slices");
            globalBodyContainer.svg.append("g")
                .attr("class", "labels");
            globalBodyContainer.svg.append("g")
                .attr("class", "lines");



            globalBodyContainer.pie = d3.pie()
                .sort(null)
                .value(function (d) {
                    return d.value;
                });

            globalBodyContainer.arc = d3.arc()
                .outerRadius(globalBodyContainer.radius * 0.8)
                .innerRadius(globalBodyContainer.radius * 0.4);

            globalBodyContainer.outerArc = d3.arc()
                .innerRadius(globalBodyContainer.radius * 0.9)
                .outerRadius(globalBodyContainer.radius * 0.9);

            globalBodyContainer.svg.attr("transform", "translate(" + globalBodyContainer.width / 2 + "," + globalBodyContainer.height / 2 + ")");

            globalBodyContainer.key = function (d) {
                return d.data.label;
            };
        }

        preBuildPieChart();

    </script>
</div>
</body>
</analysechart>