<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
    <div th:fragment="analyseform" style="float: right; position: relative;">
        <form id="analyseform" action="#" th:action="@{analysedomain/}" th:object="${analyseDomainRequest}" method="post">
            <fieldset class="form-group">
                <div class="row-container" style="display: flex; align-items: baseline;">
                    <legend>Analyse domain</legend>
                    <a href="#" disabled="true" class="btn btn-default" onclick="document.getElementById('analyseform').reportValidity(); buildDomainPerformanceBarChart($('#domainSelector').val(), 50)" style="margin:10px; padding:0">
                        <i class="fas fa-chart-bar fa-1x"></i>
                    </a>
                    <a href="#" disabled="true" class="btn btn-default" onclick="document.getElementById('analyseform').reportValidity(); buildDomainPerformanceBarChart($('#domainSelector').val(), 100)" style="margin:10px; padding:0">
                        <i class="fas fa-chart-bar fa-2x"></i>
                    </a>
                    <a href="#" disabled="true" class="btn btn-default" onclick="document.getElementById('analyseform').reportValidity(); buildDomainPerformanceBarChart($('#domainSelector').val(), 200)" style="margin:10px; padding:0">
                        <i class="fas fa-chart-bar fa-3x"></i>
                    </a>
                </div>
                <div class="row-container">
                    <select required id="domainSelector" initialized="false" th:field="*{domain}" class="form-control" onclick="populateDomains()" style="width: 8em; margin-left: 10px; margin-right: 10px;">
                        <option value="" style="color: #999999;">Domain...</option>
                    </select>
                    <select id="object" th:field="*{object}" class="form-control" style="width: 8em; margin-right: 10px;">
                        <option value="SYMBOL">SYMBOL</option>
                    </select>
                    <select id="size" th:field="*{size}" class="form-control" style="width: 5em; margin-right: 10px;">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </fieldset>
        </form>
        <div class="row-container">
            <input type="submit" value="submit" onClick="if (document.getElementById('analyseform').reportValidity()){document.getElementById('pieChartButtonVolume').disabled=false; document.getElementById('pieChartButtonValue').disabled=true;} buildDomainPerformancePieChart('analyseform');" class="btn btn-default leftMerge" style="margin-left: 10px; width: 8em;"/>
            <button id="pieChartButtonVolume" onClick="PieChart.fill(PieChart.prepareData(globalBodyContainer.jsonPieData, 'volume')); this.disabled=true; document.getElementById('pieChartButtonValue').disabled=false;" disabled class="btn btn-default middleMerge" style="width: 7em;">volume</button>
            <button id="pieChartButtonValue" onClick="PieChart.fill(PieChart.prepareData(globalBodyContainer.jsonPieData, 'value')); this.disabled=true; document.getElementById('pieChartButtonVolume').disabled=false;" disabled class="btn btn-default rightMerge" style=" width: 7em;">value</button>
        </div>
        <div id="pieChartDataTable" style='max-height: 400px; padding-right: 17px; overflow-x: hidden'></div>
        <script>
           function populateDomains() {
                let select = $("#domainSelector");
                if(select.attr('initialized')==="false"){
                    let onResponse = function (response) {
                        populateDomainOptions (JSON.parse(response));
                    }
                    doFetch("getalldomains", "GET", null, onResponse);
                }

                function populateDomainOptions (domainsOptions) {
                    if(select.attr('initialized')==="false"){
                        for (const el of domainsOptions) {
                            select.append($("<option/>").attr("value", el).text(el));
                        }
                        select.attr('initialized', "true")
                    }
                }
           }

           function buildDomainPerformancePieChart(formId) {
               if(globalBodyContainer.pieChartDataTableScroll){
                   globalBodyContainer.pieChartDataTableScroll.unMount();
               }
               removeAllChildren('domainperformance');
               removeAllChildren('pieChartDataTable');
               preBuildPieChart();
               let form = document.getElementById(formId);
               tryPreventDefault();
               if (form.reportValidity()) {
                   let onResponse = function (response) {
                       globalBodyContainer.jsonPieData = response;
                       let tableData = buildHtmlTable(JSON.parse(globalBodyContainer.jsonPieData));
                       PieChart.fill(PieChart.prepareData(globalBodyContainer.jsonPieData, 'value'));
                       $("#pieChartDataTable").html(tableData);
                       globalBodyContainer.pieChartDataTableScroll = new SimpleBar(document.getElementById('pieChartDataTable'));
                   }
                   doFetch($(form).attr('action'), $(form).attr('method'), buildData($(form).get(0)), onResponse);
               }
           }

           function buildDomainPerformanceBarChart(domainName, size) {
               let chartElementId = 'domainPerformanceBarChart' + domainName + size;
               tryPreventDefault();
               if(document.getElementById(chartElementId) === null) {
                   removeElement("domainPerformanceBarChart")
                   let url = 'analysedomainperformance/?domain=' + domainName + '&size=' + size;
                   $('#detailsBlock').prepend('<div id="domainPerformanceBarChart"><\/div>');
                   $('#domainPerformanceBarChart').append("<div id=\"" + chartElementId + "\" style='height: 300px;'><\/div>");
                   $('#' + chartElementId).append("<a href='#' class='btn btn-default btn-close' aria-label='Close' onclick='removeElement(\"domainPerformanceBarChart\")' style='position: absolute; right: 20px; z-index: 1000;'>&times;</a>");
                   let onResponse = function (response) {
                       let barChart = new BarChart(JSON.parse(response), domainName, size);
                       barChart.render(chartElementId);
                   }
                   doFetch(url, "GET", null, onResponse);
               }
           }
        </script>
    </div>
</body>
</html>