<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
    <div th:fragment="analysehome">
        <div class="collapse" id="collapseOne">
            <div id="formBlock" style="padding-left: 15px">
                <div th:replace="analyse/analyseform :: analyseform"></div>
            </div>
        </div>
        <div class="collapse show" id="collapseTwo" style="padding: 0;">
            <div id="resultBlock">
                <div th:replace="analyse/analysechart :: analysechart"></div>
            </div>
        </div>
    </div>
</body>
</html>