<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
    <div th:fragment="authform">
        <div class="form-group">
            <form id="formAuth" th:action="@{/#}" method="POST"  >
                <fieldset class="form-group">
                    <label for="formAuthusername" style="font-size: 40px;" >Login:</label>
                    <input id="formAuthusername" class="form-control" name="username" style="filter: none;">
                    <label for="formAuthpassword" style="font-size: 40px;" >Password:</label>
                    <input id="formAuthpassword" class="form-control" name="password" type="password" style="filter: none;">
                </fieldset>
                <div class="row" style="margin-top: 0; margin-left: 0;">
                    <select id="formAuthType" class="form-control" style="width: 15em; font-size: 20px; margin-right: 15px; height: 42px">
                        <option value="FORM">FORM</option>
                    </select>
                    <input type="submit" value="Login" class="btn btn-default" onClick="doFormAuthentication('formAuth')" style="width: 5em; font-size: 19px; height: 42px">
                </div>
            </form>
            <form id="csrfSelectorForm">
                <label for="csrfSelector" style="font-size: 40px;" >CSRF token:</label>
                <select id="csrfSelector" onchange="document.getElementsByName('_csrf')[0].value = $('#csrfSelector').val()" class="form-control" style="width: 20em; font-size: 20px; margin-right: 15px; height: 42px"/>
                <input type="submit" style="display: none;">
                <script>populateCsrfSelectOptions(document.getElementsByName('_csrf')[0].value)</script>
            </form>
        </div>
    </div>
</body>
</html>