<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <link href="http://localhost:9020/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="http://localhost:9020/static/js/external/jquery-3.3.1.min.js"></script>
    <script src="http://localhost:9020/static/js/external/socket.io.dev.js"></script>
    <script src="http://localhost:9020/static/js/external/popper.min.js" ></script>
    <script src="http://localhost:9020/static/js/external/bootstrap.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="../static/js/authdemo.js"></script>

    <style>
        html {
            overscroll-behavior: auto;
        }

        html body {
            width: 2070px;
            padding-right: 0 !important;
            background-color: #0b0e16;
            color: #a1afc3;
        }

        .carousel-item {
            height: 800px;
        }

        .server-msg {color:blue;}
		.client-msg {color:green;}
		.disconnect-msg {color:blue;}

		.btn-close {
            opacity: 0.99;
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            margin: 3px;
            padding: 3px;
        }
    </style>


    <!--function HandlePopupResult(result) {-->
    <!--alert("result of popup is: " + result);-->
    <!--}-->

    <!--In the child window code add this:-->

    <!--function CloseMySelf(sender) {-->
    <!--try {-->
    <!--window.opener.HandlePopupResult(sender.getAttribute("result"));-->
    <!--}-->
    <!--catch (err) {}-->
    <!--window.close();-->
    <!--return false;-->
    <!--}-->

</head>
<body>
    <div class="row-container" style="position: absolute; right: 10px; top: 15px">
        <output id="sessionTimer" ondblclick="resetTimer()" style="font-size: 19px;">00:00.000</output>
    </div>

    <div id="slides" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
            <li data-target="#slides" data-slide-to="3"></li>
            <li data-target="#slides" data-slide-to="4"></li>
            <li data-target="#slides" data-slide-to="5"></li>
            <li data-target="#slides" data-slide-to="6"></li>
            <li data-target="#slides" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner" style="margin-top: 2em;">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://hsto.org/webt/eo/lb/db/eolbdb9w2spktbqwcwqektn-ykg.gif">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Google captcha</h5>
                    <p>How does it work?</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col align-self-center">
                            <div style="font-size: 140px;">Oxitocin</div>
                        </div>
                        <div class="col align-self-center">
                            <img class="d-block w-100" style="-webkit-filter: invert(1); filter: invert(1)" src="https://upload.wikimedia.org/wikipedia/commons/5/55/Oxytocin_with_labels.png">
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Trust </h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col align-self-center">
                            <div id="tlsMessageContainer" style="font-size: 20px;"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>TLS</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left" style="margin-left: 20em;">
                    <div class="col-3">
                        <div class="form-group">
                            <form action="#" method="GET" >
                                <fieldset class="form-group">
                                    <label for="basicAuthusername" style="font-size: 40px;" >Login:</label>
                                    <input id="basicAuthusername" class="form-control" name="username" style="filter: none;">
                                    <label for="basicAuthpassword" style="font-size: 40px;" >Password:</label>
                                    <input id="basicAuthpassword" class="form-control" name="password" type="password" style="filter: none;">
                                </fieldset>
                                <div class="row" style="margin-top: 0; margin-left: 0;">
                                    <select id="basicAuthType" class="form-control" style="width: 15em; font-size: 20px; margin-right: 15px; height: 42px">
                                        <option value="BASIC">BASIC</option>
                                    </select>
                                    <input type="submit" value="Login" class="btn btn-default" onClick="doBasicAuthentication($('#basicAuthusername').val(), $('#basicAuthpassword').val())" style="width: 5em; font-size: 19px; height: 42px">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-9">
                        <div>
                            <h2><strong>Why WebSlides?</strong></h2>
                            <p class="text-intro">Good karma &amp; Productivity.</p>
                            <li>
                                <h2>An opportunity to engage.</h2>
                                <p>WebSlides is about good karma. This is about telling the story, and sharing it in a beautiful way. HTML and CSS as narrative elements.</p>
                            </li>
                            <li>
                                <h2>Work better, faster.</h2>
                                <p>Designers, marketers, and journalists can now focus on the content. Simply <a href="/demos" title="WebSlides Demos">choose a demo</a> and customize it in minutes.</p>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left" style="margin-left: 20em;">
                    <div class="col-3">
                        <div class="form-group">
                            <form id="formAuth" th:action="@{/#}" method="POST"  >
                                <fieldset class="form-group">
                                    <label for="formAuthusername" style="font-size: 40px;" >Login:</label>
                                    <input id="formAuthusername" class="form-control" name="username" style="filter: none;">
                                    <label for="formAuthpassword" style="font-size: 40px;" >Password:</label>
                                    <input id="formAuthpassword" class="form-control" name="password" type="password" style="filter: none;">
                                </fieldset>
                                <div class="row" style="margin-top: 0; margin-left: 0;">
                                    <select id="formAuthType" class="form-control" style="width: 15em; font-size: 20px; margin-right: 15px; height: 42px">
                                        <option value="FORM">FORM</option>
                                    </select>
                                    <input type="submit" value="Login" class="btn btn-default" onClick="doFormAuthentication('formAuth')" style="width: 5em; font-size: 19px; height: 42px">
                                </div>
                            </form>
                            <form id="csrfSelectorForm">
                                <label for="csrfSelector" style="font-size: 40px;" >CSRF token:</label>
                                <select id="csrfSelector" onchange="document.getElementsByName('_csrf')[0].value = $('#csrfSelector').val()" class="form-control" style="width: 20em; font-size: 20px; margin-right: 15px; height: 42px"/>
                                <input type="submit" style="display: none;">
                                <script>populateCsrfSelectOptions(document.getElementsByName('_csrf')[0].value)</script>
                            </form>
                        </div>
                    </div>
                    <div class="col-9">
                        <div>
                            <h2><strong>Why WebSlides?</strong></h2>
                            <p class="text-intro">Good karma &amp; Productivity.</p>
                            <li>
                                <h2>An opportunity to engage.</h2>
                                <p>WebSlides is about good karma. This is about telling the story, and sharing it in a beautiful way. HTML and CSS as narrative elements.</p>
                            </li>
                            <li>
                                <h2>Work better, faster.</h2>
                                <p>Designers, marketers, and journalists can now focus on the content. Simply <a href="/demos" title="WebSlides Demos">choose a demo</a> and customize it in minutes.</p>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <iframe src="https://open.spotify.com/embed/track/2YeJORVq6xkcOn0UOPN2zd" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Spotify</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left align-self-start" style="margin-top: 1em; margin-left: 1em;">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div>
                                    <!--                        <fb:login-button data-size="large" data-button-type="login_with" scope="public_profile,email" onlogin="checkLoginState();"> </fb:login-button>-->
                                    <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true" autologoutlink="true" onlogin="checkLoginState();"></div>
                                </div>
                                <div>
                                    <input type="submit" value="Get Info" class="btn btn-default" onclick="getInfo()" style="margin-top: 10px; font-size: 19px; height: 42px">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div id="fbuserpicture"></div>
                            </div>
                            <div class="col-sm">
                                <div id="fbstatus" style="margin-top: 5px; font-size: 19px;"></div>
                                <div id="fbuserid" style="margin-top: 5px; font-size: 19px;"></div>
                                <div id="fbusername" style="margin-top: 5px; font-size: 19px;"></div>
                                <div id="fbemail" style="margin-top: 5px; font-size: 19px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="d-block w-100" src="https://static.businessinsider.de/image/5db05611e94e8615f7401fa7-2400/ap18100667406080.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>

            <div class="carousel-item">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <script>
            $('.carousel').carousel({
                interval: false
            })
        </script>
        <script>
            // remember last slide posisition;
            $('.carousel').bind('slide.bs.carousel', function(e){
                var slideFrom = $(this).find('.active').index();
                var slideTo = $(e.relatedTarget).index();
                localStorage.setItem('slide', slideTo)
            });
        </script>
        <script>
            var slide = localStorage.getItem('slide');
            if (slide === null) {
                // do nothing
            } else {
                // return to last saved slide
                $('.carousel').carousel(parseInt(slide));
            }
        </script>

    </div>

    <div class="container" style="max-width: 1400px;">
<!--        <div class="row">-->
<!--            <input id="consoleMessage" class="form-control" name="message" style="filter: none;">-->
<!--            <input type="submit" value="Message" class="btn btn-default" onclick="output($('#consoleMessage').val()); $('#consoleMessage').val('');" style="font-size: 19px; height: 42px">-->
<!--        </div>-->
        <a href="#" class="btn btn-default btn-close" onclick="$('#console').empty(); localStorage.removeItem('wellData');">&times;</a>
        <div id="console" class="well" style="font-size: 20px;" />
    </div>

    <script>
		function initWell() {
            var wellData = JSON.parse(localStorage.getItem('wellData')) || [];
            wellData.forEach(element => $('#console').append($(element)));
        }

        initWell();
	</script>

    <script>
        // (function(send) {
        //
        //     XMLHttpRequest.prototype.send = function(data) {
        //
        //         // in this case I'm injecting an access token (eg. accessToken) in the request headers before it gets sent
        //         // if(accessToken) this.setRequestHeader('x-access-token', accessToken);
        //
        //         send.call(this, data);
        //     };
        //
        // })(XMLHttpRequest.prototype.send);


        (function(open) {

            XMLHttpRequest.prototype.open = function(method, url, async, user, pass) {

                // this.addEventListener("readystatechange", function() {
                //     console.log(this.readyState); // this one I changed
                // }, false);

                open.call(this, method, url, async, user, pass);
            };

        })(XMLHttpRequest.prototype.open);

    </script>
</body>
</html>