<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <link href="http://localhost:9020/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="http://localhost:9020/static/css/simplebar.css" rel="stylesheet" />
    <script src="http://localhost:9020/static/js/external/simplebar.js"></script>
    <script src="http://localhost:9020/static/js/external/jquery-3.3.1.min.js"></script>
    <script src="http://localhost:9020/static/js/external/socket.io.dev.js"></script>
    <script src="http://localhost:9020/static/js/external/popper.min.js" ></script>
    <script src="http://localhost:9020/static/js/external/bootstrap.min.js"></script>
    <script src="../static/js/authdemo.js"></script>
    <script src="../static/js/imageMapResizer.min.js"></script>

    <style>
        html {
            overscroll-behavior: auto;
        }

        html body {
            width: 2070px;
            padding-right: 0 !important;
            background-color: #0b0e16;
            color: #a1afc3;
        }

        .carousel-item {
            height: 1100px;
        }

        .carousel-control-prev{
            width: 50px;
        }

        .carousel-control-next{
            width: 50px;
        }

        .server-msg {color:blue;}
		.client-msg {color:green;}
		.disconnect-msg {color:blue;}

		.btn-close {
            opacity: 0.99;
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            margin: 3px;
            padding: 3px;
        }

        .modal-dialog {
            bottom: 5px;
            max-width: 1200px;
        }

        .modal-content {
            background: #323436;
            -webkit-border-radius: 1px !important;
            -moz-border-radius: 1px !important;
            border-color: #a1afc3;
            border-radius: 1px !important;
        }

        .modal-header {
            border-bottom: 0 none;
        }

        .modal-footer {
            border-top: 0 none;
        }

        img {
           max-width:100%;
           height:auto;
           max-height:100%;
        }

        .data-link{
            font-weight: 500;
            font-size: 30px;
        }

        table {
            border: dotted 1px #a1afc3;
        }

        table td, table th {
            border: dotted 1px #a1afc3;
        }

    </style>


    <!--function HandlePopupResult(result) {-->
    <!--alert("result of popup is: " + result);-->
    <!--}-->

    <!--In the child window code add this:-->

    <!--function CloseMySelf(sender) {-->
    <!--try {-->
    <!--window.opener.HandlePopupResult(sender.getAttribute("result"));-->
    <!--}-->
    <!--catch (err) {}-->
    <!--window.close();-->
    <!--return false;-->
    <!--}-->

</head>
<body>
    <div class="row-container" style="position: absolute; right: 10px; top: 15px; z-index: 9999;">
        <output id="sessionTimer" ondblclick="resetTimer()" style="font-size: 19px;">00:00.000</output>
    </div>

    <div id="slides" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
            <li data-target="#slides" data-slide-to="3"></li>
            <li data-target="#slides" data-slide-to="4"></li>
            <li data-target="#slides" data-slide-to="5"></li>
            <li data-target="#slides" data-slide-to="6"></li>
            <li data-target="#slides" data-slide-to="7"></li>
            <li data-target="#slides" data-slide-to="8"></li>
            <li data-target="#slides" data-slide-to="9"></li>
            <li data-target="#slides" data-slide-to="10"></li>
            <li data-target="#slides" data-slide-to="11"></li>
            <li data-target="#slides" data-slide-to="12"></li>
            <li data-target="#slides" data-slide-to="13"></li>
            <li data-target="#slides" data-slide-to="14"></li>
            <li data-target="#slides" data-slide-to="15"></li>
            <li data-target="#slides" data-slide-to="16"></li>
            <li data-target="#slides" data-slide-to="17"></li>
            <li data-target="#slides" data-slide-to="18"></li>
            <li data-target="#slides" data-slide-to="19"></li>
            <li data-target="#slides" data-slide-to="20"></li>
            <li data-target="#slides" data-slide-to="21"></li>
            <li data-target="#slides" data-slide-to="22"></li>
            <li data-target="#slides" data-slide-to="23"></li>
            <li data-target="#slides" data-slide-to="24"></li>
            <li data-target="#slides" data-slide-to="25"></li>
            <li data-target="#slides" data-slide-to="26"></li>
            <li data-target="#slides" data-slide-to="27"></li>
            <li data-target="#slides" data-slide-to="28"></li>
            <li data-target="#slides" data-slide-to="29"></li>
            <li data-target="#slides" data-slide-to="30"></li>
            <li data-target="#slides" data-slide-to="31"></li>
        </ol>
        <div class="carousel-inner" style="margin-top: 2em;">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://hsto.org/webt/eo/lb/db/eolbdb9w2spktbqwcwqektn-ykg.gif">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Google captcha</h5>
                    <p>How does it work?</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 50%; display: flex; align-items: center; justify-content: center;">
                    <div class="row">
                        <div class="col align-self-center">
                            <h1>Adi Shamir</h1>
                            <h1>Ron Rivest</h1>
                            <h1>Martin Hellman</h1>
                            <h1>Leonard Adleman</h1>
                            <h1 onclick='this.style.setProperty("text-decoration", "line-through")'>Roberto Moreu Rubio</h1>
                            <h1>Whitfield Diffie</h1>
                        </div>
                    </div>
                </div>
                <div class="container" style="height: 30%; display: flex; justify-content: right;">
                    <h1><br></h1>
                    <h1><br></h1>
                    <img class="d-block h-20" src="../static/drawings/final/diffiehellmanatacker.png">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Any familiar names?</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div style="margin-left:5em; font-size: 140px;">Oxitocin</div>
                <div class="container">
                    <div class="row">
                        <div class="col align-self-center">
                            <img class="d-block w-100" style="-webkit-filter: invert(1); filter: invert(1)" src="https://upload.wikimedia.org/wikipedia/commons/5/55/Oxytocin_with_labels.png">
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Trust, Love, Friendship, Parenthood.</h5>
                    <h5>Do you know how trust organized on the web?</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 70%; display: flex; align-items: center; justify-content: center;" >
                    <div class="row align-items-end">
                        <div class="col align-self-center">
                            <h1><strong>Very simple plan</strong></h1>
                            <h2>Make sure that we speak with the server we want and no one else.</h2>
                            <h2>Make sure that chanel we speak is secure and understood only to us two.</h2>
                            <h2>Make sure that server know who we are.</h2>
                            <h2><br></h2>
                            <h2>And it is extraordinary complex thing to do.</h2>
                            <h2><br></h2>
                            <h2>The toolset to achieve this is:</h2>
                            <h2>Encryption</h2>
                            <h2>Certificates</h2>
                            <h2>Key exchange algorithms.</h2>
                            <h2>All together it is <strong>TLS</strong>. <strong>T</strong>ransport <strong>L</strong>ayer <strong>S</strong>ecurity.</h2>
                            <h2><br></h2>
                            <h2>+ Basic & Form Authentication</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>What is the difference between Authentication & Authorisation?</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../static/drawings/final/fxy.png">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Encryption</h5>
                    <h5>Philosophy behind f(x) = y: if you know x it is very easy to find y. If you know y it is almost impossible to find y.</h5>
                    <h5>Its like language known for you and who you trust.</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 50%; display: flex; align-items: center; justify-content: center;" >
                    <div class="row align-items-end">
                        <div class="col align-self-center">
                            <h2>In reality of symmetric encryption it is two functions:</h2>
                            <h1><strong>f encrypt(x, z) = y</strong></h1>
                            <h1><strong>f decrypt(x, y) = z</strong></h1>
                            <div style="margin-left: 2em;">
                                <ul>
                                    <li style="margin-top: 5em;">
                                        <h2>x - secret, key, password.</h2>
                                    </li>
                                    <li>
                                        <h2>z - payload.</h2>
                                    </li>
                                    <li>
                                        <h2>y - encrypted data.</h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Whats the problem of symmetric encryption?</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 50%; display: flex; align-items: center; justify-content: center;" >
                    <div class="row align-items-center">
                        <div class="col align-self-center">
                            <h2> Symmetric encryption has a problem, if you want to add a participants to your encrypted communication, you have to share x with them.
                                And it makes symmetric encryption very vulnerable to loss of the key or x.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../static/drawings/final/elliptic.png" style="position: absolute; height: 1100px;">
                <div class="container" style="height: 50%; display: flex; align-items: center; justify-content: center;" >
                    <div class="row align-items-center">
                        <div class="col align-self-center">
                            <h2>This vulnerability is solved by assymetric encryption. Where we split x on to two parts k public and s private.</h2>
                            <h2>There are two absolutely overwhelming mathematical ways how to split x onto k and s parts but keep link between them:</h2>
                            <div style="margin-left: 2em;">
                                <ul>
                                    <li>
                                        <h2>RSA based on gigantic prime numbers.</h2>
                                    </li>
                                    <li>
                                        <h2>Elliptic Curve algorithm based on two crossing elliptic curves.</h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row align-items-center">
                        <img class="d-block h-100" src="../static/drawings/final/ellipticgal2.png">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Greater than universe. Will we get to the edge?</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 75%; display: flex; align-items: center; justify-content: center;" >
                    <div class="row align-items-end">
                        <div class="col-3">
                            <img class="d-block h-100" src="../static/drawings/final/PublicPrivateKeys.png">
                        </div>
                        <div class="col-9 align-self-center">
                            <h2>Asymmetric encryption in this case would look like this:</h2>
                            <h1><strong>f encrypt(s, z) = y</strong></h1>
                            <h1><strong>f decrypt(k, y) = z</strong></h1>
                            <div style="margin-left: 2em;">
                                <ul>
                                    <li style="margin-top: 5em;">
                                        <h2>s - public key. It lets anyone whom you gave the key encrypt the data.</h2>
                                    </li>
                                    <li>
                                        <h2>k - private key. Only you can decrypt it.</h2>
                                    </li>
                                    <li>
                                        <h2>z - payload.</h2>
                                    </li>
                                    <li>
                                        <h2>y - encrypted data.</h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>What is the difference between encryption and hashing?</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 50%; align-items: center; justify-content: center;" >
                    <div class="row align-items-center">
                        <div class="col align-self-center">
                            <h2>Combination of Encryption actions its different algorithms/compression methods/hashing/key exchange protocols and other properties is called CIPHER SUITE. more about cipher suits you can find here:</h2>
                            <h2><a target="_blank" rel="noopener noreferrer" href="https://docs.oracle.com/en/java/javase/11/docs/specs/security/standard-names.html" title="Standard Ciphers">Standard Ciphers</a></h2>
                        </div>
                    </div>
                    <div class="row align-items-center">
                            <img class="d-block w-100" src="../static/drawings/final/CipherSuits2.png">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>You can think of CS as encryption recipes. TLS/SSL protocols do security using collections of CIPHER SUITS so it is something like cook book then.</h5>
                        <h5>Whats the side effect of stronger Cipher suite key size 256 against 128?</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left" style="margin-left: 20em;">
                    <div class="col-3">
                        <img class="d-block w-100" src="../static/drawings/final/certificates.png">
                    </div>
                    <div class="col-9">
                        <h1>Certificates.</h1>
                        <h2>Certificates hold basic information about server like company, country, city.</h2>
                        <h2>[CN] or Common name and [SAN] Subject Alternative Names which tells you hostname or site that owns certificate. Like wikipedia.com for examples.</h2>

                        <h2 style="margin-top: 3em;">Tools for managing and creating certificates you can use KeyTool from Oracle, or OpenSSL.</h2>
                        <h2>For programmatic/dynamic certificate creation/management BouncyCastle library.</h2>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Certificates are web faces.</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left" style="margin-left: 20em;">
                    <div class="col-3">
                        <img class="d-block w-100" src="../static/drawings/final/RootCertificates.png">
                    </div>
                    <div class="col-9">
                        <h1>Signed certificate & its verification.</h1>
                        <h2>Most important record in certificate is its signature.</h2>
                        <h2>Signatures on certificates are created by Certificates Authorities (CA) using their private keys.</h2>
                        <h2>Public keys from Certificates Authorities are used to validate this signatures. This keys are called Root Certificates</h2>
                        <h2>Software and Hardware manufacturers preinstall root certificates.</h2>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Certificate/trust chain & thumbprint.</h5>
                        <h5>Certificates and root certificate expire. Because private keys could be compromised.</h5>
                        <h5>This is very naive explanation of certificate siginature & validation. </h5>
                        <h5>Hashing and signing with private key, are reflected in cipher suite. </h5>
                        <h5>Signing is super secure process. if CAs private key is exposed it can cause overwhelming damage to whole internet infrastructure. Security measures are compared to nuclear power plants.</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 50%; display: flex; align-items: center; justify-content: center;" >
                    <img src="../static/drawings/final/TrustStore.png" class="d-block h-100">
                    <div class="row align-items-center">
                        <div class="col align-self-center">
                            <h2>The place where you hold Root certificates or whom you trust is called Truststore.</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>-----BEGIN PUBLIC KEY----- izfrNTmQLnfsLzi2Wb9xPz2Qj9fQYGgeug3N2MkDuVHwpPcgkhHkJgCQuuvT+qZI... -----END PUBLIC KEY-----</h5>
                    <h5>-----BEGIN PRIVATE KEY----- MIICMzCCAZygAwIBAgIJALiPnVsvq8dsMA0GCSqGSIb3DQEBBQUAMFMxCzAJBgNV... -----END PRIVATE KEY-----</h5>
                    <h5>-----BEGIN CERTIFICATE----- OveIHyc0E0KIbhjK5FkCBU4CiZrbfHagaW7ZEcN0tt3EvpbOMxxc/ZQU2WN/s/wP... -----END CERTIFICATE-----</h5>
                    <h5>.pem, .p12, .cert</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 50%; display: flex; align-items: center; justify-content: center;" >
                    <img src="../static/drawings/final/Keystore.png" class="d-block h-100">
                    <div class="row align-items-center">
                        <div class="col align-self-center">
                            <h2>The place where you hold your issued ceritificate with your private and public keys is called Keystore. </h2>
                        </div>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Keystore and Truststore are encrypted using private? public? or Symmetric key?</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../static/drawings/final/secretprivatekey.png" >
                <div class="carousel-caption d-none d-md-block">
                    <h2>In private place.</h2>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left" style="margin-left: 20em;">
                    <div class="col-3">
                        <img class="d-block w-100" src="../static/drawings/final/RootCertificates.png">
                    </div>
                    <div class="col-9">
                        <h1>Above given very primitive Certificate signing and validation Algorithms. If Want to know more and how it really works? </h1>
                        <h2>see X509 and PKIX. Also In Java you can find following classes:</h2>
                        <ul>
                            <li>
                                <h2>sun.security.provider.certpath.PKIXCertPathValidator</h2>
                            </li>
                            <li>
                                <h2>java.security.cert.CertPathValidator</h2>
                            </li>
                        </ul>
                        <h2><br></h2>
                        <h2>If you want to generate free certificate for your site. <a target="_blank" rel="noopener noreferrer" href="https://letsencrypt.org/" title="letsencrypt.org">letsencrypt.org</a></h2>
                        <h2>If you want to see how strong is CIPHER SUITES and Authority centers used by external resource here are some security scanners:</h2>
                        <h2><a target="_blank" rel="noopener noreferrer"  href="https://securityheaders.com" title="Headers">securityheaders.com</a></h2>
                        <h2><a target="_blank" rel="noopener noreferrer"  href="https://www.ssllabs.com/ssltest/" title="Ssl test">ssllabs.com ssltest</a></h2>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left">
                    <div class="container" style="height: 50%; align-items: center; justify-content: center;" >
                        <div class="row align-items-center">
                            <div class="col align-self-center">
                                <h1>Few more things about Certificate Authorities.</h1>
                                <h2>Certificate Authorities "Trusted Organizations" a part of politics now since it is one keystone of internet regulations. Since they come usually preinstalled as a part of Software or Hardware.</h2>
                                <h2><br></h2>
                                <h2>If certificate mechanics goes wrong any one can impersonate anyone.</h2>
                            </div>
                        </div>
                        <img class="d-block h-70" src="../static/drawings/final/CipherSuite.png">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left">
                    <img src="../static/drawings/final/telegaunderattack1.png" class="d-block w-100" style="position:absolute; margin-top:7em; ">
                    <div class="container" style="height: 50%; align-items: center; justify-content: center;" >
                        <div class="row align-items-center">
                            <div class="col align-self-center">
                                <h2>With growth of IOT world, certificates could be a part of Economical or corporate wars.</h2>
                                <h2>Most of the smart phone or any other intelegent device control like locking, monitoring, misusing or getting orders from vendors is based on prebuiled encrypted trust stores and open ports.</h2>
                                <h2>Keyword for those who are interested Intel Management Engine that is prebuild into every intell PC including this. It operates system in paralell with OS and has access to all of you computer.</h2>
                                <h2><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=Y2_-VXz9E-w" title="CodeBlue">CodeBlue Conference</a></h2>
                                <h2>In two words my pc is running MINIX unix based operating system and i dont know what it does. And intel tries to hide it from me as much as it can.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h2 style="color: magenta">Telega under attack.</h2>
                    <h5 style="color: magenta">Do you trust your smartphone? Does he trust you?</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left" style="margin-left: 10em;">
                    <h1>So now we have pretty much everything to talk with the server we want to.</h1>
                </div>
                <div class="row justify-content-left">
                    <div class="col-6">
                        <img src="../static/drawings/final/youhave.png" class="d-block w-100"></div>
                    <div class="col-6">
                        <img src="../static/drawings/final/serverhave.png" class="d-block w-100"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div style="margin-left: 10em; width:100%; height:100%">
                    <img id="imgmapid" class="img-responsive center-block" src="../static/drawings/final/map.png"  usemap="#imgmap" />
                </div>
                <map id="imgareamapid" name="imgmap">
                    <area shape="rect" coords="100,1600,1300,1800" href="#" onclick="showModalBodyHeader(clientHelloBodyMessage, clientHelloHeaderMessage)">
                    <area shape="rect" coords="100,1800,1300,2000" href="#" onclick="showModalBodyHeader(serverHelloBodyMessage, serverHelloHeaderMessage)">
                    <area shape="rect" coords="100,2000,1500,2400" href="#" onclick="showModalBodyHeader(digitalSignatureBodyMessage, digitalSignatureHeaderMessage)">
                    <area shape="rect" coords="100,2400,1500,2800" href="#" onclick="showModalBodyHeader(premasteredSecretBodyMessage, premasteredSecretHeaderMessage)">
                    <area shape="rect" coords="100,2800,2000,3200" href="#" onclick="showModalBodyHeader(sessionKeeysCreatedBodyMessage, sessionKeeysCreatedHeaderMessage)">
                    <area shape="rect" coords="100,3200,2000,3500" href="#" onclick="showModalBodyHeader(httpRequestBodyMessage, httpRequestHeaderMessage)">
                    <area shape="circle" coords="2271,1260,100" title="fritz.box [2001:a61:ace:8003:f2b0:14ff:feb4:5253]">
                    <area shape="circle" coords="2600,1900,75" title="r3.muc7.m-online.net [2001:a60::89:703]">
                    <area shape="circle" coords="3360,1700,100" title="rt-inxs.m-online.net [2001:a60::89:0:1:2]">
                    <area shape="circle" coords="4000,1570,100" title="xe-9-0-0.bar1.Munich1.Level3.net [2001:1900:5:2:2::1e5]">
                    <area shape="circle" coords="4185,1900,75" title="lo-0.bar2.Hamburg1.Level3.net [2001:1900:2::3:9b]">
                    <area shape="circle" coords="4218,2300,75" title="2001:1900:5:2:2::2f65">
                    <area shape="circle" coords="3420,2662,75" title="2001:4c08:2012::190">
                </map>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col align-self-center">
                            <a href="#" class="btn btn-default btn-close" onclick="$('#tlsMessageContainer').empty();">&times;</a>
                            <form action="#" method="GET" >
                                <input type="submit" value="TLS Hello" class="btn btn-default" onClick="doTLSHello()" style="margin-top: 2em; width: 9em; font-size: 19px; height: 42px">
                            </form>
                            <div id="tlsMessageContainer"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>TLS</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div style="margin-left: 10em">
                            <h1><strong>How it works in java:</strong></h1>

                            <h3>To enable TLS  in Spring boot:</h3>

                            <h3>ssl:
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;key-store: classpath:keystore.p12
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;key-store-password: srch4app
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;keyStoreType: PKCS12
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;keyAlias: tomcat
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;enabled-protocols: TLSv1.3 # only JAVA 11 and higher.</h3>

                            <h3>Java areas that does TLS magic:</h3>
                            <div style="margin-left: 2em;">
                            <ul>
                                <li><h3>javax.net.ssl.SSLSocket</h3></li>
                                <li><h3>java.security.KeyPairGenerator</h3></li>
                                <li><h3>sun.security.ssl.BaseSSLSocketImpl</h3></li>
                                <h3><br></h3>
                                <li><h3>sun.security.ssl.SSLEngineImpl</h3></li>
                                <li><h3>javax.net.ssl.SSLEngineResult</h3></li>
                                <h3><br></h3>
                                <li><h3>org.apache.tomcat.jni.Socket</h3></li>
                                <li><h3>org.apache.tomcat.util.net.SecureNioChannel</h3></li>
                                <li><h3>org.apache.tomcat.util.net.Acceptor</h3></li>
                                <li><h3>org.apache.tomcat.util.net.NioEndpoint</h3></li>
                                <li><h3>org.apache.tomcat.util.net.SecureNioChannel</h3></li>
                                <li><h3>org.apache.tomcat.util.net.TLSClientHelloExtractor</h3></li>
                                <li><h3>org.apache.tomcat.jni.SSLSocket</h3></li>
                            </ul>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Alternatively you can write contents of .pem file directly into application.yml.</h5>
                    <h5>You can also put truststore/keystore on classpath using -Djavax.net.ssl.keyStore/truststore.</h5>
                    <h5>Or replace in CA Certificates in JDK.</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div style="margin-left: 10em">
                    <h1><strong>If you want to know a bit more about TLS</strong></h1>
                    <h2>TLS 1.3 comes with java 11 or higher.</h2>
                    <h2><br></h2>
                    <h2>KeyPairGenerator.getInstance("XDH").genKeyPair(); // works only with java 11 or higher </h2>
                    <h2>KeyPairGenerator.getInstance("RSA").genKeyPair();</h2>
                    <h2><br></h2>
                    <h2>TLS 1.2 optimal cipher suite - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</h2>
                    <h2>TLS 1.3 optimal cipher suite - TLS_AES_128_GCM_SHA256</h2>
                    <h2><br></h2>
                    <h2>Some usefull links:</h2>
                    <div style="margin-left: 2em;">
                        <h2>Good entrypoint article about TLS  <a target="_blank" rel="noopener noreferrer" href="https://www.cloudflare.com/learning/ssl/what-happens-in-a-tls-handshake/">What happens in a tls handshake</a></h2>
                        <h2>TLS 1.3 200 ms TLS 1.2 300 speed performance <a target="_blank" rel="noopener noreferrer" href="https://kinsta.com/blog/tls-1-3/">An Overview of TLS 1.3 – Faster and More Secure</a></h2>
                        <h2>TLS 1.3 vs 1.2 Byte performance comparision <a target="_blank" rel="noopener noreferrer" href="https://www.wolfssl.com/tls-1-3-performance-part-2-full-handshake-2/">TLS 1.3 Performance Analysis – Full Handshake</a></h2>
                        <h2>Handmade TLS in JAVA step by step with explanations and code: <a target="_blank" rel="noopener noreferrer" href="https://examples.javacodegeeks.com/core-java/nio/java-nio-ssl-example/">Java Nio SSL Example</a></h2>
                        <h2><br></h2>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 70%; display: flex; align-items: center; justify-content: center;">
                    <div class="row">
                        <div class="col align-self-center">
                            <h1>Questions:</h1>
                            <div style="margin-left: 2em;">
                                <h2>What is the result of TLS handshake?</h2>
                                <h2>Is URL encrypted during TLS?</h2>
                                <h2>What is exposed to the web before establishing TLS?</h2>
                                <h2>Is there any difference between POST, PUT, GET, HTTP requests decryption?</h2>
                                <h2>Who should have access to session key?</h2>
                                <h2>How TLS handshake and encryption is done for JMS, WS or Datasource connections?</h2>
                                <h2>Where you can keep session or master key?</h2>
                                <h2>What is happerning in case of connection pool? (That i don't know actually)</h2>
                                <h2>What is happerning to session key?</h2>
                                <h2>Who usually creates trustore?</h2>
                                <h2>What is the difference between SSL and TLS?</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 50%; display: flex; align-items: center; justify-content: center;">
                    <div class="row">
                        <div class="col align-self-center">
                            <h2>Now we have a securely established TLS 1.3 channel.</h2>
                            <h2>We know who is the server because we ve validate his certificate using trust store. But server knows nothing about who we are.</h2>
                            <h2>There is a way called two way TLS when we give server our client certificate but in real life it is very rare.</h2>
                            <h2>Another way is to use Basic Authentification to identify ourselfs on server side.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left" style="margin-left: 20em;">
                    <div class="col-3">
                        <div class="form-group">
                            <form th:action="@{/#}" method="GET" >
                                <fieldset class="form-group">
                                    <label for="basicAuthusername" style="font-size: 40px;" >Login:</label>
                                    <input id="basicAuthusername" class="form-control" name="username" style="filter: none;">
                                    <label for="basicAuthpassword" style="font-size: 40px;" >Password:</label>
                                    <input id="basicAuthpassword" class="form-control" name="password" type="password" style="filter: none;">
                                </fieldset>
                                <div class="row" style="margin-top: 0; margin-left: 0;">
                                    <select id="basicAuthType" class="form-control" style="width: 15em; font-size: 20px; margin-right: 15px; height: 42px">
                                        <option value="BASIC">BASIC</option>
                                    </select>
                                    <input type="submit" value="Login" class="btn btn-default" onClick="doBasicAuthentication($('#basicAuthusername').val(), $('#basicAuthpassword').val())" style="width: 5em; font-size: 19px; height: 42px">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-9">
                        <div>
                            <h2><strong>Basic auth &amp; Authentication schemes:</strong></h2>
                            <div style="margin-left: 2em;">
                                <ul>
                                    <li>
                                        <h2>Basic (RFC 7617, base64-encoded credentials.)</h2>
                                    </li>
                                    <li>
                                        <h2>Bearer (RFC 6750, bearer tokens to access OAuth 2.0-protected resources)</h2>
                                    </li>
                                    <li>
                                        <h2>Digest (RFC 7616, only md5 hashing.)</h2>
                                    </li>
                                    <li>
                                        <h2>HOBA (RFC 7486 (draft), HTTP Origin-Bound Authentication, digital-signature-based)</h2>
                                    </li>
                                    <li>
                                        <h2>Mutual (draft-ietf-httpauth-mutual)</h2>
                                    </li>
                                    <li>
                                        <h2>AWS4-HMAC-SHA256 (AWS Authorization)</h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-default btn-close" onclick="$('#BASICAuthMessageContainer').empty();" style="position: absolute; right: 200px;" >&times;</a>
                        <div id="BASICAuthMessageContainer"></div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>BCrypt is it encryption or Hashing?</h5>
                    <h5><a target="_blank" rel="noopener noreferrer" href="https://hashcat.net/hashcat/">Hashcat</a> against BCrypt.</h5>
                    <h5>Why basic authentication is weak?</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 70%; display: flex; align-items: center; justify-content: center;">
                    <div class="row">
                        <div class="col align-self-center">
                            <h2><strong>Basic Authentification vulnerabilities:</strong></h2>
                            <div style="margin-left: 2em;">
                                <ul>
                                    <li>
                                        <h2>The password is sent over the wire in base64 encoding (which can be easily converted to plaintext).</h2>
                                    </li>
                                    <li>
                                        <h2>The password is sent repeatedly, for each request. (Larger attack window)</h2>
                                    </li>
                                    <li>
                                        <h2>The password is cached by the webbrowser, at a minimum for the length of the window / process. (Can be silently reused by any other request to the server, e.g. CSRF).</h2>
                                    </li>
                                    <li>
                                        <h2> The password may be stored permanently in the browser, if the user requests. (Same as previous point, in addition might be stolen by another user on a shared machine).</h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h2>Does TLS protect the password in transit? <strong>Yes.</strong></h2>
                    <h2>Is that enough? <strong>No.</strong></h2>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-left" style="margin-left: 20em;">
                    <div class="col-3">
                        <input type="submit" value="Authentication Form" class="btn btn-default" onClick="buildAuthForm()" style="margin-top: 2em; width: 12em; font-size: 19px; height: 42px">
                        <div id="authFormContainer"></div>
                    </div>
                    <div class="col-9">
                        <div>
                            <h2><strong>Why Form Authentification?</strong></h2>
                            <div style="margin-left: 2em;">
                                <ul>
                                    <li>
                                        <h2>You exchange your login and password for a session token that you later pass in header. And you do not show event encrypted password to a real world.</h2>
                                    </li>
                                    <li>
                                        <h2>You fully control authentication process by providing short living forms. (CSRF token)</h2>
                                    </li>
                                    <li>
                                        <h2>Greater flexibility of providing extra data not only Login Password.</h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-default btn-close" onclick="$('#FORMAuthMessageContainer').empty();" style="position: absolute; right: 200px;">&times;</a>
                        <div id="FORMAuthMessageContainer"></div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h2>Form authentification happens before or after TLS handshake?</h2>
                </div>
            </div>
            <div class="carousel-item">
                <div style="margin-left: 5em;">
                    <h2><br></h2>
                    <h2><strong>So what did we learn?</strong></h2>
                    <div class="grid-container" style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr;">
                        <div>
                            <table class="key-value-table">
                                <tbody>
                                <tr>
                                    <th><img class="d-block w-70" src="../static/drawings/final/min/fxy_min.png"></th>
                                    <td><h2>Encryption</h2><h3>Mechanism that creates a language known only for you and who you trust.</h3></td>
                                </tr>
                                <tr>
                                    <th><img class="d-block w-70" src="../static/drawings/final/min/CipherSuits_min.png"></th>
                                    <td><h2>Cipher Suits</h2><h3>Set of processes that include Encryption, Hashing, Compression, Integrity Validation and Key exchange protocols.</h3></td>
                                </tr>
                                <tr>
                                    <th><img class="d-block h-50" src="../static/drawings/final/min/certificates_min.png"></th>
                                    <td><h2>Certificates</h2><h3>Servers faces on the web. Must be signed by CAs</h3></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <table class="key-value-table">
                                <tbody>
                                <tr>
                                    <th><img class="d-block h-50" src="../static/drawings/final/min/RootCertificates_min.png"></th>
                                    <td><h2>Root certificates</h2><h3>Public keys from CAs that let us validate signed certificates.</h3></td>
                                </tr>
                                <tr>
                                    <th><img class="d-block w-70" src="../static/drawings/final/min/PublicPrivateKeys_min.png"></th>
                                    <td><h2>Public and Private keys</h2><h3>Using public key anyone can encrypt message and send it to you. It can be decrypted only with private key. Must be limited in use.</h3></td>
                                </tr>
                                <tr>
                                    <th><img class="d-block w-70" src="../static/drawings/final/min/DFKeyExhchange_min.png"></th>
                                    <td><h2>Key exchange</h2><h3>Process that complicates as much as possible private key determination and retrospective communication decoding.</h3></td>
                                </tr>
                                <tr>
                                    <th><img class="d-block w-70" src="../static/drawings/final/min/sessionkey_min.png"></th>
                                    <td><h2>Session key</h2><h3>Product TLS of handshake and key exchange. Random, in case of loss only session part of your communication can be decrypted.</h3></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>This is TLS</h5>
                    <h5>Encrypt everything and lose the keys.</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div style="margin-left: 20em;">
                    <h2><br></h2>
                    <h2><strong>So what to do with information?</strong></h2>
                    <div style="margin-left: 2em;">
                        <ul>
                            <li>
                                <h2>Now you live with it.</h2>
                            </li>
                            <li>
                                <h2>It is security essentials and its understanding is very important by it self.</h2>
                            </li>
                            <li>
                                <h2>It is important component of safe web-browsing.</h2>
                            </li>
                            <li>
                                <h2>Significant part of system design.</h2>
                            </li>
                            <li>
                                <h2>It is fundamental for system integration.</h2>
                            </li>
                            <li>
                                <h2>It is one of the important aspects of penetration testing.</h2>
                            </li>
                            <li>
                                <h2>Ethical hacking.</h2>
                            </li>
                        </ul>
                    </div>
                    <h2><br></h2>
                    <a target="_blank" rel="noopener noreferrer" href="https://summerschool-croatia.cs.ru.nl/2015/Authenticated%20key%20exchange.pdf">
                        <img src="../static/drawings/final/pdflecture.png" class="d-block w-70">
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="height: 70%; display: flex; align-items: center; justify-content: center;">
                    <div class="row">
                        <div class="col align-self-center">
                            <a href="/authdemo/parttwo">
                                <div style="font-size: 140px;">To Part II</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Whats the connection between session key and Google captcha?</h5>
                    <h5>Domestic way to validate Certificate is to use Adobey Acrobat reader.</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <script>
            $('.carousel').carousel({
                interval: false
            })
        </script>
        <script>
            // remember last slide posisition;
            $('.carousel').bind('slide.bs.carousel', function(e){
                var slideFrom = $(this).find('.active').index();
                var slideTo = $(e.relatedTarget).index();
                localStorage.setItem('slide', slideTo)
            });
        </script>
        <script>
            var slide = localStorage.getItem('slide');
            if (slide === null) {
                // do nothing
            } else {
                // return to last saved slide
                $('.carousel').carousel(parseInt(slide));
            }
        </script>

    </div>

    <div class="modal fade" id="modalWindow" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="modalWindowLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="btn btn-default btn-close" data-dismiss="modal" aria-label="Close"  style="position: absolute; right: 10px;">&times;</a>
                <div class="modal-header">
                    <h1 id="modalWindowLabel" class="modal-title" >Modal title</h1>
                </div>
                <div id="modalWindowBody" class="modal-body" style="font-size: 25px">
                    Modal body
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
		function initWell() {
            var wellData = JSON.parse(localStorage.getItem('wellData')) || [];
            wellData.forEach(element => $('#console').append($(element)));
        }

        initWell();
	</script>

    <script>
        (function(open) {

            XMLHttpRequest.prototype.open = function(method, url, async, user, pass) {

                // this.addEventListener("readystatechange", function() {
                //     console.log(this.readyState); // this one I changed
                // }, false);

                open.call(this, method, url, async, user, pass);
            };

        })(XMLHttpRequest.prototype.open);

    </script>



    <script>
        $('map').imageMapResize();

        var areas = document.getElementsByTagName( 'area' );

        for( var index = 0; index < areas.length; index++ ) {
            areas[index].addEventListener( 'mouseover', function () {this.focus();}, false );
            areas[index].addEventListener( 'mouseout', function () {this.blur();}, false );
        };
    </script>

    <script>
        var clientHelloHeaderMessage = '<img class="d-block w-100" src="../static/drawings/final/HeaderClientHello.png">'
        var clientHelloBodyMessage = '<h2><strong>Client hello</strong>: The client sends a client hello message with the protocol version, the client random, and a list of cipher suites.<br>'
		+ 'For a TLS client hello the first byte must be 22 - handshake.</h2>'
		+ '<img class="d-block w-75" src="../static/drawings/final/netBuffer.png">'

        var serverHelloHeaderMessage = '<img class="d-block w-100" src="../static/drawings/final/HeaderServerHello.png">'
		var serverHelloBodyMessage = '<h2><strong>Server hello</strong>: The server replies with its SSL certificate, public key, its selected cipher suite, and the server random.</h2>'
        + '<img class="d-block w-50" src="../static/drawings/final/certificate.png">'

        var digitalSignatureHeaderMessage = '<img class="d-block w-100" src="../static/drawings/final/HeaderClientHello.png">'
		var digitalSignatureBodyMessage = '<h2><strong>Digital signature confirmed</strong>: The client decrypts the servers digital signature with the public key from truststore, verifying that the server is who it says it is. The client encrypts DH parameter by server public key and sends it to the server.</h2>'
        + '<img class="d-block w-100" src="../static/drawings/final/forge.png">'

        var premasteredSecretHeaderMessage = '<img class="d-block w-100" src="../static/drawings/final/HeaderDfKeyExhange.png">'
        var premasteredSecretBodyMessage = '<h2><strong>Client and server calculate the premaster secret</strong>: Instead of the client generating the premaster secret and sending it to the server, as in an RSA handshake, the client and server use the DH parameters they exchanged to calculate a matching premaster secret separately.</h2>'
        + '<img class="d-block w-50" src="../static/drawings/final/800px-Diffie-Hellman_Key_Exchange.svg.png">'
        + '<h2>There is another person that wants to know what Alice and Bob are talking about, whats his name?</h2>'

        var sessionKeeysCreatedHeaderMessage = '<img class="d-block w-100" src="../static/drawings/final/HeaderDfKeyExhange.png">'
        var sessionKeeysCreatedBodyMessage = '<div class="row justify-content-left">\n' +
            '    <div class="col-3">\n' +
            '        <img class="d-block w-100" src="../static/drawings/final/sessionkey.png">\n' +
            '    </div>\n' +
            '    <div class="col-9">\n' +
            '        <h2><strong>Session keys created</strong>: Now, the client and server calculate session keys from the premaster secret, client random, and server random, just like in an RSA handshake.</h2>' +
            '        <h2>Client is ready, Server is ready.</h2>' +
            '        <h2>Secure symmetric encryption achieved. Session key is created.</h2>' +
            '    </div>\n' +
            '</div>'

        var httpRequestHeaderMessage = '<img class="d-block w-100" src="../static/drawings/final/HeaderHttpsDataTransfer.png">'
        var httpRequestBodyMessage = '<h2>Request is sent to server and can be decrypted with session key.</h2>'+
        '<img class="d-block w-50" src="../static/drawings/final/HTTP-Connection-Lifecycle-2.png">'

    </script>
</body>
</html>