<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Bowling Calculator</title></head>
<body>
<pre>
     ___  _____      ___    ___ _  _  ___       ___   _   _    ___ _   _ _      _ _____ ___  ___
    | _ )/ _ \ \    / / |  |_ _| \| |/ __|     / __| /_\ | |  / __| | | | |    /_\_   _/ _ \| _ \
    | _ \ (_) \ \/\/ /| |__ | || .` | (_ |    | (__ / _ \| |_| (__| |_| | |__ / _ \| || (_) |   /
    |___/\___/ \_/\_/ |____|___|_|\_|\___|     \___/_/ \_\____\___|\___/|____/_/ \_\_| \___/|_|_\



    Hi, below you ll find form and it should be only one, since i've put only one and that should be enough for bowling calculator.
    In form you can enter numbers of pins you've knocked with your roll. Or you can add a sequence of your rolls.
    For example something like: 5/3/X14--223-5/5/X3/
    Where: / is spare
           X is strike
           - is miss
           and digits are digits and nothing special about them
           and i guess that's all symbols that are allowed.
    If you will enter 10 i will recognize it as two rolls 1 and 0.
    I will also recognize parts of the game, so you can enter 23X1 and then continue with 6-222 and so on. Or enter the rolls one by one.
    I think I validate everything except repetitive spares like 1///// you can do that but it will be equivalent of 1/1/1/1/1/.
    Please be careful with what you input, I store rolls in memory before validation in some cases, so to avoid poisonous rolls,
    I reset whole game and thats not a joke.

<form action="/" method="post">
    <input name="rolls" type="text" value=""/> <input type="submit" value="calculate"/>
</form>
    <span th:text="${bowlingError}"> </span>

    =====================================================================================================================
    |  FRAME1  |  FRAME2  |  FRAME3  |  FRAME4  |  FRAME5  |  FRAME6  |  FRAME7  |  FRAME8  |  FRAME9  |  FRAME10       |
    |----------|----------|----------|----------|----------|----------|----------|----------|----------|----------------|
    | <span th:text="${frame11}"> </span>  | <span th:text="${frame12}"> </span>   | <span th:text="${frame21}"> </span>  | <span th:text="${frame22}"> </span>   | <span th:text="${frame31}"> </span>  | <span th:text="${frame32}"> </span>   | <span th:text="${frame41}"> </span>  | <span th:text="${frame42}"> </span>   | <span th:text="${frame51}"> </span>  | <span th:text="${frame52}"> </span>   | <span th:text="${frame61}"> </span>  | <span th:text="${frame62}"> </span>   | <span th:text="${frame71}"> </span>  | <span th:text="${frame72}"> </span>   | <span th:text="${frame81}"> </span>  | <span th:text="${frame82}"> </span>   | <span th:text="${frame91}"> </span>  | <span th:text="${frame92}"> </span>   | <span th:text="${frame101}"> </span>  | <span th:text="${frame102}"> </span>   | <span th:text="${frame103}"> </span>   |
    |    |_____|    |_____|    |_____|    |_____|    |_____|    |_____|    |_____|    |_____|    |_____|    |_____|_____|
    |          |          |          |          |          |          |          |          |          |                |
    |   <span th:text="${score1}"></span>    |   <span th:text="${score2}"></span>    |   <span th:text="${score3}"></span>    |   <span th:text="${score4}"></span>    |   <span th:text="${score5}"></span>    |   <span th:text="${score6}"></span>    |   <span th:text="${score7}"></span>    |   <span th:text="${score8}"></span>    |   <span th:text="${score9}"></span>    |      <span th:text="${score10}"></span>       |
    |          |          |          |          |          |          |          |          |          |                |
    =====================================================================================================================

<form action="/reset" method="get">
    <input type="submit" value="reset game"/>
</form>


</pre>

</body>
</html>