<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>T24 Application</title></head>
<body>
<pre>

   ___ __             __  __
    |   _) |__|   /\ |__)|__)
    |  /__    |  /--\|   |


    Hi, below you ll find few fields where you can input data about yourself, however only age is required. This data will get an UUID (which looks very cool) based
    on your email, but there is nothing to worry about, its free and not persisted anywhere. The task to create this app reminded me, light version of Zebra puzzle
    from Planck. And finally I would like to say that Bowling calculator (Game application that I did not so long ago) was sent to spare parts for this application
    it helped to reduce development expenses by half but left an easter egg. Didn't had any time for entry deletion, let me do it as a home assignment on the weekends.

<form action="/" method="post">
    So what's your name it can be very long btw.                                Your email please.                           And your age.
    <input name="name" type="text" value="" size="90"/>     <input name="email" type="email" value="" size="50"/>    <input name="age" type="number" value="" size="5" required/>

    <input type="submit" value="submit"/>
</form>

    <span th:text="${status}"> </span>

<span th:text="${frame}"> </span>

</pre>

</body>
</html>