<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Lake Calculator Application</title>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
</head>
<body>

<pre>
<form action="/" method="post">
Hi! Put your coma separated lake of integers here! If integer is to big I will split it!
<textarea cols="200" rows="20" name="surface" id="comment_text" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" maxlength="1000" onkeyup="this.value = this.value.replace(/[^0-9,]/g,'').replace(/(\d{2})/g, '$1,').replace(/,+/g, ',')">Put lake here...</textarea>
<input type="submit" value="calculate"/>
</form>
</pre>
<h1><span class="blue"><span class="yellow">LAKE DATA</span></h1>

<table class="container">
    <thead>
    <tr>
        <th><h1>Volume     </h1></th>
        <th><h1>%      </h1></th>
        <th><h1>Area       </h1></th>
        <th><h1>%      </h1></th>
        <th><h1>Low        </h1></th>
        <th><h1>High       </h1></th>
        <th><h1>Depth      </h1></th>
        <th><h1>Avg. depth </h1></th>
        <th><h1>Visualize  </h1></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lake : ${lakes}">
        <td th:text="${lake.volume}"></td>
        <td th:text="${(100 * lake.volume) / lakes[#lists.size(lakes) - 1].volume + '%'}"></td>
        <td th:text="${lake.mirror}"></td>
        <td th:text="${(100 * lake.mirror) / lakes[#lists.size(lakes) - 1].mirror + '%'}"></td>
        <td th:text="${lake.seaLevel}"></td>
        <td th:text="${lake.maxHeight}"></td>
        <td th:text="${lake.maxDepth}"></td>
        <td th:text="${#numbers.formatDecimal(lake.averageArithmeticDepth, 0, 3)}"></td>
        <td><a target="_blank" rel="noopener noreferrer" th:href="@{/{id}(id=${lake.id})}">view</a></td>
    </tr>
    </tbody>
</table>



</body>
</html>