<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
<!--https://grid.layoutit.com/-->
<!--http://animista.net/-->
<!--https://gridbyexample.com-->
<!--https://stackoverflow.com/questions/553402/how-to-fadeout-remove-a-div-in-jquery-->
<!--//https://github.com/thymeleaf/thymeleaf/issues/355-->
<!--https://www.baeldung.com/spring-thymeleaf-fragments-->
<!--https://stackoverflow.com/questions/20982683/spring-mvc-3-2-thymeleaf-ajax-fragments-->
<!--https://stackoverflow.com/questions/1070760/javascript-function-in-href-vs-onclick-->
<!--https://stackoverflow.com/questions/26526037/javascript-function-call-with-thymeleaf-->
<!--https://stackoverflow.com/questions/52933002/only-variable-expressions-returning-numbers-or-booleans-are-allowed-in-this-content-->
<!--https://getbootstrap.com/docs/4.0/components/collapse/-->
<!--https://stackoverflow.com/questions/37347690/how-to-replace-div-with-another-div-in-javascript-->
<!--https://stackoverflow.com/questions/9855656/how-to-submit-a-form-using-javascript-->
<!--https://stackoverflow.com/questions/1218245/jquery-submit-form-and-then-show-results-in-an-existing-div-->
<div th:id="${page.tableId}" th:fragment="tradedatatable (dataPage, page)">
    <table  class="table table-striped table-bordered table-sm table-dark" cellspacing="0" width="100%" style="min-width: 1400px" >
        <thead>
        <tr>

            <th><h1>Id</h1></th>
            <th><h1>Symbol</h1></th>
            <th><h1>Account</h1></th>
            <th><h1>Route</h1></th>
            <th><h1>Val</h1></th>
            <th><h1>Amount</h1></th>
            <th><h1>Date</h1></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${dataPage}">
            <td>
                <div class="details-link">
                    <a href="#" class="hover hover-1" th:text="${data.TradeDataId}" th:onclick="getDetails('tradedetails', [[${data.TradeDataId}]])"/>
                </div>
            </td>
            <td th:text="${data.Symbol}"></td>
            <td>
                <div class="details-link">
                    <a href="#" class="hover hover-1" th:text="${data.AccountId}" th:onclick="getDetails('accountdetails', [[${data.AccountId}]])"/>
                </div>
            </td>
            <td th:text="${data.Route}"></td>
            <td th:text="${data.Val}"></td>
            <td th:text="${data.Amount}"></td>
            <td th:text="${data.Date}"></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="paginationbar :: paginationbar (${page})"></div>
</div>
</body>
</html>